{erl_opts, [debug_info]}.
{edoc_opts, [{dir, "edoc"}]}.

{deps,
 [{ranch, "",
   {git, "https://github.com/ninenines/ranch.git", {tag, "1.1.0"}}}
 ,{cowlib, ".*", {git, "https://github.com/ninenines/cowlib.git", {tag, "0.4.0"}}}
 ,{cowboyku, "",
   {git, "https://github.com/heroku/cowboyku.git", {tag, "1.0.3"}}}
 ,{ranch_proxy_protocol, "",
   {git, "https://github.com/heroku/ranch_proxy_protocol.git", {tag, "1.3.2"}}}
 ,{uuid, "",
   {git, "https://github.com/okeuday/uuid.git", {tag, "v1.5.1.1"}}}
 ,{erequest_id, "",
   {git, "https://github.com/heroku/erequest_id.git", {tag, "0.2.2"}}}
 ,{midjan, "",
   {git, "https://github.com/heroku/midjan.git", {tag, "1.0.0"}}}
 ]}.

{dialyzer, [{warnings, [no_opaque]}]}.

{profiles, [
  {test, [
    {deps, [
        {websocket_client,
            {git, "https://github.com/jeremyong/websocket_client.git", {tag, "v0.7"}}}
       ,{meck,
            {git, "https://github.com/eproxus/meck.git", {branch, "master"}}}
    ]}
  ]}
]}.
