{erl_opts, [debug_info]}.
{deps,
 [{ranch, "", {git, "git@github.com:heroku/ranch.git"}}
 ,{cowboy, "", {git, "git@github.com:heroku/cowboy.git"}}
 ,{stillir, "", {git, "git@github.com:heroku/stillir.git"}}
 ,{hackney, "",
   {git, "git@github.com:heroku/hackney.git", {branch, "tuple_addrs"}}}
 ]}.
