{erl_opts, [debug_info]}.

{deps,
 [{rebar_vsn_plugin, ".*",
    {git, "https://github.com/erlware/rebar_vsn_plugin.git", {branch, "master"}}}
 ,{ranch, "",
   {git, "git@github.com:heroku/ranch.git", {tag, "0.8.5.1-heroku"}}}
 ,{cowlib, ".*", {git, "git://github.com/extend/cowlib.git", {tag, "0.4.0"}}}
 ,{cowboy, "",
   {git, "git@github.com:heroku/cowboy.git", {tag, "0.6.1.1-heroku"}}}
 ,{ranch_proxy_protocol, "",
   {git, "git@github.com:heroku/ranch_proxy_protocol.git", {tag, "1.0.1"}}}
 ,{uuid, "",
   {git, "https://github.com/okeuday/uuid.git", {tag, "v1.3.1"}}}
 ,{erequest_id, "",
   {git, "git@git.herokai.com:erequest_id.git", {tag, "0.2.1"}}}
 ,{midjan, "",
   {git, "git@git.herokai.com:midjan.git", {tag, "0.1.0"}}}
 ,{meck, "", {git, "git@github.com:eproxus/meck.git"}}
 ,{websocket_client, "", {git, "git@github.com:jeremyong/websocket_client.git", {branch, "master"}}}  
 ]}.

% Rebar Plugins ==============================================================
{plugin_dir, "deps/rebar_vsn_plugin/src"}.
{plugins, [rebar_vsn_plugin]}.
